In [21]:
import os
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [13]:
dir_path = os.path.dirname(os.path.realpath('__file__'))
data_folder = os.path.join(dir_path, 'data')
daily_data = pd.read_csv(os.path.join(data_folder, 'brussels_daily_data.csv'))
hourly_data = pd.read_csv(os.path.join(data_folder, 'brussels_hourly_data.csv'))

In [14]:
daily_data['timestamp'] = pd.to_datetime(daily_data['timestamp'])
daily_data.set_index(daily_data['timestamp'], inplace = True)

try:
    daily_data.drop(['timestamp', 'FID', 'the_geom', 'code', 'air_pressure', 'air_temperature_avg', 'air_temperature_max', 'air_temperature_min', 'qc_flags', 'wind_speed', 'relative_humidity'], axis = 1, inplace = True)
except:
    pass
    
daily_data.head()

            precipitation
timestamp
2003-12-01            3.9
2003-12-02            0.0
2003-12-03            0.0
2003-12-04            0.0
2003-12-05            0.0

In [ ]:
daily_data.plot(kind = 'bar')